<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.soolwhale.client.project.vo.ProjectVO" alias="project" />
		<typeAlias type="com.soolwhale.client.reward.vo.RewardVO" alias="reward" />
	</typeAliases>
</configuration>