@import "common.css";

/* 로고 웹폰트 적용*/
@font-face {
  font-family: 'SF_IceLemon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#wrap_header {
  width: 100%;
  height: 40px;
  padding:10px 0;
  box-sizing: content-box;
  
  background: white;
  border-bottom: 1px solid rgb(224, 224, 224);
 }
 #wrap_header .flex_wrap{
  /* justify-content: space-between; */
  align-items: stretch;
  position:relative;
 }

#logo {height:40px;line-height:40px;margin-right:20px;}
#logo a{display: flex; flex-direction: row;justify-content: center;line-height:40px;}
#logo img{width:auto; height:40px;display: flex;}
#logo_txt{font-size:25px;font-family: 'SF_IceLemon';display: flex; line-height:45px;padding-left:2px;}

#wrap_nav{display: flex; }
#wrap_nav ul{display: flex; flex-direction:row}
#wrap_nav a{
cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: rgb(62, 62, 62);
    margin-right: 15px;
    white-space: nowrap;
    /*border:1px solid red;*/
    padding:8px 5px ;
}

#wrap_header_right{
  position: absolute;
  right:40px;
  display: flex; 
  flex-direction:row
}

#header_bnts{display: flex; flex-direction:row}
#header_bnts > div{margin-left:5px;}
#header_bnts a{
  font-size: 22px;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  color: #212529;
  padding:5px;
}

#header_bnts #btn_nav_mobile{
  display:none
}
#header_bnts #btn_nav_mobile a{
  padding:0 10px;
}

#header_bnts #header_login a{
  font-size: 16px;
}

#wrap_header .search_box{    
  display: flex;
  flex-direction:row;
  margin-right:5px;
  border: 1px solid #96dcf0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  padding: 0 10px 0 16px;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  color: #212529;

}

#wrap_header #search_text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    flex-grow: 1;
    outline: none;
    background: none;
    padding-right: 32px;
    width: 300px;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 14px;
}

#wrap_header #btn_search{
  padding:5px; 
}

#wrap_mypage{
  position: absolute;
  background-color:#fff;
  display: flex;
  flex-direction: column;
  top: 39px;
  right: 0px;
  width: 240px;
  /*transition: all 0.3s ease-in-out 0s;*/
  border: 1px solid rgb(228, 228, 228);
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 1200;
  padding:15px 10px;
  display:none;
  
}
#wrap_mypage a{
  padding: 4px 16px;
  display: flex;
  width: 100%;
  height: 40px;
  min-height: 40px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 22px;
  /*color: rgb(13, 13, 13);*/
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
#wrap_mypage li.border_top{
  border-top: 1px solid rgb(224, 224, 224);
}

#wrap_mypage a:hover{
  color:#00b7d4;
}


@media screen and (max-width: 1024px) {
  /* 화면 너비가 1024px 이하인 경우에만 적용되는 스타일 */
  #wrap_nav a{ 
    margin-right: 10%;
  }
  #wrap_header .search_box #search_text{
    width:200px;
  }
  #logo {margin-right:1%;}
}

@media screen and (max-width: 768px) {
    /* 화면 너비가 768px 이하인 경우에만 적용되는 스타일 */
    #wrap_header .search_box{
      display:none;
    }
    #header_bnts #btn_nav_mobile{
      display:block;
    }
}

